<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlaskBook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/output.css') }}" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-w-screen min-h-screen">
    <header class="w-full h-10 bg-neutral-200 flex items-center px-10 justify-between">
      <a href="/">FlaskBook</a>
      <nav>
        <div>
          <ul class="flex">
            <li><a href="/logout">Log out</a></li>
          </ul>
        </div>
      </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for
    category, message in messages %} {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <main class="min-h-full w-full">{% block content %} {% endblock %}</main>
    <footer>Copyright &copy; Flaskbook</footer>
  </body>
</html>
