<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlaskBook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/output.css') }}" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-w-screen min-h-screen">
    <header
      class="w-full h-14 bg-neutral-200 flex items-center px-14 justify-between border-b border-b-neutral-400 drop-shadow-lg"
    >
      <a class="text-blue-700 text-xl font-bold" href="/">FlaskBook</a>
      <nav>
        <div>
          <ul class="flex gap-x-4">
            <li>
              <a class="font-medium" href="/{{ current_user.username }}"
                ><p class="hover:underline">Profile</p></a
              >
            </li>
            <li class="hover:scale-[1.03] transform duration-100">
              <a
                class="border border-red-600 text-red-600 rounded-md px-2 py-1 font-medium"
                href="/logout"
                >Log out</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for
    category, message in messages %} {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <main class="min-h-full w-full flex justify-center">{% block content %} {% endblock %}</main>
    <footer>Copyright &copy; Flaskbook</footer>
  </body>
</html>
