{% extends 'base.html' %} {% block content %}

<section class="h-full w-full bg-neutral-200 flex">
  <section>
    <div class="w-[350px] border border-blue-700">
      {% if user.avatar %}
      <img src="{{ user.avatar }}" class="object-cover" alt="" />
      {% else %}
      <img
        src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
        class="object-cover"
        alt="Default Avatar"
      />
      {% endif %}
    </div>

    <div class="w-[350px] border border-blue-700">
      <h2>Interests</h2>
      <ul>
        {% for interest in interests %}
        <li>{{ interest }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="w-full">
    <h2>Wall</h2>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>

    {% if current_user.username != user.username %} {% if current_user.is_following(user) %}
    <form action="{{ url_for('main.unfollow', user_id=user.id) }}" method="POST">
      <button type="submit" class="btn btn-primary">Unfollow</button>
    </form>
    {% else %}

    <form action="{{ url_for('main.follow', user_id=user.id) }}" method="POST">
      <button type="submit" class="btn btn-primary">Follow</button>
    </form>
    {% endif %} {% endif %}

    <form method="POST" action="{{ url_for('main.create_post', user_id=user.id)}}">
      {{ form.hidden_tag() }}
      <div class="form-group">{{ form.content(class="w-full h-[100px]") }}</div>
      <div class="form-group">{{ form.image(class="form-control") }}</div>
      {{ form.submit(class="btn btn-primary") }}
    </form>

    <div>
      <h2>posts</h2>
      {% for post in posts %}

      <div class="border border-blue-700">
        <p>{{ post.author.first_name}} {{ post.author.last_name }}</p>
        <p>{{ post.content }}</p>
        {% if post.photo %}
        <div class="max-w-[200px]">
          <img src="{{ post.photo }}" class="w-full" alt="" />
        </div>
        {% endif %}
        <p>{{ post.created_at.strftime('%B %d, %y') }}</p>
        {% endfor %}
    </div>
  </section>
</section>

{% endblock %}
