{% extends 'base.html' %} {% block content %}

<section class="h-full w-full bg-neutral-200 flex">
  <section>
    <div class="w-[350px] border border-blue-700">
      <img src="{{ user.avatar }}" class="object-cover" alt="" />
    </div>

    <div class="w-[350px] border border-blue-700">
      <h2>Interests</h2>
      <ul>
        {% for interest in interests %}
        <li>{{ interest }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section>
    <h2>Wall</h2>
  </section>
</section>

{% endblock %}
