  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Flaskbook - Login</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    </head>
    <body class="bg-slate-200">
      <main class="min-h-screen w-screen flex items-center justify-center">
        <section>
          <h1 class="text-blue-700 text-5xl font-bold">flaskbook</h1>
          <p class="text-lg font-medium w-10/12">Connect with people who share the same interests.</p>
        </section>
        <section class="shadow-lg border rounded-md border-neutral-200 bg-white p-4">
          <div class="">
            <h1 class="font-medium text-2xl mb-3">Sign Up</h1>
            <form method="POST" class="max-w-[350px] flex flex-col gap-y-3">
              {{ form.hidden_tag() }}

                {{ form.first_name(class="form-control") }}
                {{ form.last_name(class="form-control") }}
                {{ form.username(class="form-control") }}
                {% if form.username.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% endif %}

                {{ form.avatar(class="form-control") }}
                {{ form.password(class="form-control") }}

                <div>
                  {{ form.interests.label(class="font-medium") }}
                  <div class="flex flex-wrap gap-x-3">
                    {% for option in form.interests %}
                      <div class="form-check">
                        {{ option(class_="form-check-input") }}
                        {{ option.label(class_="form-check-label") }}
                      </div>
                    {% endfor %}
                  </div>
                </div>

                {{ form.submit(class="btn btn-primary font-medium bg-[#007bff]") }}
                <a href="/login" class="w-full py-2 bg-green-500 text-center font-medium rounded-md text-white">Login</a>
              </div>
            </form>
          </div>
        </section>

      </main>
    </body>
  </html>
</html>
